WeatherBackend/bin
WeatherBackend/obj/Debug
WeatherDesktop/bin
WeatherDesktop/obj
WeatherBackend/obj
.vs
After/WeatherBackend/obj
Before/WeatherBackend/obj
WeatherTests/bin
WeatherTests/obj
WeatherCommon/bin
WeatherCommon/obj
WeatherGrabber/bin
WeatherGrabber/obj
WeatherTelegramService/bin
WeatherTelegramService/obj
WeatherTelegramService/secrets.json
WeatherDatabase/bin
WeatherDatabase/obj
